<div class="surface-content-grid">
    <!-- Colour Select Wheel -->
    <div class="content-title colour-select-title">
        <h2>Colour Select</h2>
    </div>
    <div class="ui-colour-select-container" (touchstart)="handleTouchEvents($event)" (touchmove)="handleTouchEvents($event)">
        <div class="colour-wheel" [style.background-color]="colourInput">
            <input [(ngModel)]="colourInput" type="color" class="lighting-colour-input" (input)="handleUpdateColourVisuals($event)">
        </div>
    </div>
    <!-- Brightness Slider -->    
    <div class="content-title brightness-title">
        <h2>Brightness</h2>
    </div>
    <proAV-slider-element 
        class="brightness-slider" 
        (touchstart)="handleTouchEvents($event)" 
        (touchmove)="handleTouchEvents($event)"    
        [elementId]="brightnessSliderJoin">
    </proAV-slider-element>
    <!-- Presets Area -->
    <div class="content-title preset-title">
        <h2>Presets</h2>
    </div>
    <div class="presets-grid">
        <ng-container *ngFor="let preset of presets; let idx = index">
            <div class="preset-button button pulse-button"
              [style.grid-row]="getGridRowPreset(idx)"
              [style.grid-column]="'1/ span 5'"
              (click)="presetTriggered(preset.id)"
            ><h3>{{preset.label}}</h3></div>
        </ng-container>
    </div>
</div>