.ui-colour-select-container {
    grid-row: 4/span 4;
    grid-column: 2/span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colour-wheel {
    height: 100%;
    width: 100%;
    border-radius: var(--standardBorderRadius);
    //box-shadow: var(--mediumSpacing);
}

.lighting-colour-input {
    opacity: 0;
    border: 0.4vmin solid #303030ba;
    height: 100%;
    width: 100%;
}

.brightness-slider {    
    grid-row: 9/span 1;
    grid-column: 2/span 4;
}

.presets-grid {
    grid-row: 4/span 6;
    grid-column: 7/span 5;
    position: relative;
}

/*
*   Handle Title Postitions
*/
.colour-select-title {
    grid-row: 3/span 1;
    grid-column: 2/span 4;
}

.brightness-title {
    grid-row: 8/span 1;
    grid-column: 2/span 4;
}

.preset-title {
    grid-row: 3/span 1;
    grid-column: 7/span 4;
}

.preset-retirement {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--mediumSpacing);
    padding: var(--largeSpacing);
    background-color: var(--surfaceColour);
    backdrop-filter: var(--overlayBlur);
    z-index: 100;
    transition: box-shadow 1s ease-in-out;
    transition: transform 1s ease-in-out;

    i {
        position: absolute;
    }
}

.glow {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    transform: scale(0.95);
}