<div class="surface-content-grid">
    <!-- Colour Select Wheel -->
    <div class="content-title colour-select-title">
        <h2>Colour Select</h2>
    </div>
    <div class="ui-colour-select-container" (touchstart)="handleTouchEvents($event)" (touchmove)="handleTouchEvents($event)">
        <div class="colour-wheel" [style.background-color]="colourInput">
            <input [(ngModel)]="colourInput" type="color" class="lighting-colour-input" (input)="handleUpdateColourVisuals($event)">
        </div>
    </div>
    <!-- Brightness Slider -->    
    <div class="content-title brightness-title">
        <h2>Brightness</h2>
    </div>
    <proAV-slider-element 
        class="brightness-slider" 
        (touchstart)="handleTouchEvents($event)" 
        (touchmove)="handleTouchEvents($event)"    
        [elementId]="brightnessSliderJoin">
    </proAV-slider-element>
    <!-- Presets Area -->
    <div class="content-title preset-title">
        <h2>Presets</h2>
    </div>
    
    <div
        cdkDropList
        #presetList="cdkDropList"
        [cdkDropListData]="presets"
        [cdkDropListConnectedTo]="[deleteList]"        
        class="presets-list"
        (cdkDropListDropped)="drop($event)">
        <div 
            *ngFor="let preset of presets; track item; let idx = index;" 
            [cdkDragData]="preset.id"
            [cdkDragStartDelay]="500"
            (click)="presetTriggered(preset.id)"
            (cdkDragStarted)="showRetirementVillage = true"
            (cdkDragEnded)="showRetirementVillage = false"
            class="preset-button button" 
            cdkDrag>{{preset.label}}
        </div>
        <div class="preset-button preset-create button" (click)="createPreset()">
            Create Preset
            <input type="text" [(ngModel)]="presetLabel">
            <i class="fa-regular fa-plus"></i>
        </div>
    </div>
    <!-- Delete a Preset By Dragging Item Here --> 
    <div
        cdkDropList
        #deleteList="cdkDropList"
        [cdkDropListConnectedTo]="[presetList]"
        [style.opacity]="showRetirementVillage ? 1 : 0"
        [class.glow]="animateRetirement"
        (pointerenter)="animateArea(true)"
        (pointerleave)="animateArea(false)"
        class="preset-retirement"
        (cdkDropListDropped)="drop($event)">
        <i class="fas fa-trash-alt"></i>
    </div>
  </div>