.content-title {
    justify-content: center;
    grid-row: 4/span 1;
    grid-column: 3/span 8;
    text-align: center;
}

.hdmi-cable-icon {
    grid-row: 7/span 1;
    grid-column: 4/span 2;
}

.arrow-icon {
    grid-row: 7/span 1;
    grid-column: 6/span 2;
    font-size: 80px;
    margin: auto;
}

.hdmi-icon {
    grid-row: 7/span 1;
    grid-column: 8/span 2;
    font-size: 80px;
    margin: auto;
}