.dyna-grid {
    margin: 0 32px;
    gap: 32px;
	height: 100%;
	width: calc(100% - 2 * 32px);
    //background-color: var(--surfaceColour);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr); 
}
