.proav-content-grid{
    background-color: teal;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 32px;
}

.small-item {    
    background-color: red;
    height: 100px;
    width: 100px;
}

.medium-item {
    background-color: yellow;
    height: 100px;
    width: 200px;
}

.large-item {
    background-color: green;
    height: 200px;
    width: 300px;
}