.slider-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-input-area {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
}

.range-slider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	border-radius: var(--mediumSpacing);
	transform: rotate(180deg);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.range-slider_line {
	height: 100%;
	width: 84%;
	background-color: var(--surfaceColour);
	position: absolute;
	z-index: 1;
	//border-radius: var(--mediumSpacing);
}

.range-slider_line-fill {
	position: absolute;
	width: 90%;
	background-color: var(--primaryVariant);
	box-shadow: -2px 2px 4px rgba(var(--primaryVariant), 0.4), -2px -2px 4px rgba(var(--primaryVariant), 0.4);
	//border-bottom-left-radius: var(--mediumSpacing);
	//border-bottom-right-radius: var(--mediumSpacing);
	z-index: 2;
	background-image: linear-gradient(
		to bottom,
		rgba(119, 160, 211, 0.1) 0%,
		rgba(119, 160, 211, 0.2) 51%,
		rgba(80, 90, 100, 0.4) 100%
	);
}

.range-slider_input {
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: 3;
	transform: translateY(-50%);
	-webkit-appearance: none;
	appearance: none;
	height: 100%;
	opacity: 0;
	margin: 0;
	writing-mode: vertical-lr;
}

.range-slider_thumb {
	width: 100%;
	height: 6px;
	border-left: 4px solid var(--onPrimaryColour);
	border-right: 4px solid var(--onPrimaryColour);
	position: absolute;
	right: -4px; /* Keep the thumb in position at the end of the fill div and account for fill height*/
	top: 0;
	background-color: var(--onPrimaryColour);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--onRaisedSurfaceColour);
	z-index: 3;
	box-shadow: var(--onSurfaceShadow);
}

.range-slider_thumb.active {
	box-shadow: var(--onSurfaceShadow), -8px -8px 16px rgba(var(--primaryVariant), 0.2);
	z-index: 4;
}

.thumb-text {
	//font-weight: 700;
	font-size: small;
	opacity: 0;
	transform: rotate(180deg);
	position: absolute;
	top: - 50px;
	color: var(--onPrimaryColour);
}

.blinds-ring {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	border: 2px solid var(--onPrimaryColour);
	position: absolute;
	top: - 12px;
}

.animate-motion {
	transition: height 1s ease-in-out;
}

.moving-up {
	opacity: 1;
	position: absolute;
	top: 32px;
}

.moving-down {
	opacity: 1;
	position: absolute;
	top: -32px;
	transform: rotate(180deg);
}

.direction-arrow {
	//opacity: 0;	
}

@keyframes growIn {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/*
  * Handle Disabling defaults
*/
.range-slider_input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0;
}

.range-slider_input::-moz-range-thumb {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0;
}
