<div class="full-screen-overlay" [style.display]="isOverlayVisible ? 'flex' : 'none'">
    <div class="feedback-area">
        <div class="icon-area">
            <i [ngClass]="{'fa-spin': isSpinning}" [class]="currentIcon" class="custom-icon"></i>
        </div>
        <div class="system-info">
            <h1 class="system-info-title info-text">System</h1>
            <h3 class="system-info-state">{{connectionState}}</h3>
        </div>
        <div *ngIf="infoText" class="system-info">
            <h1 class="system-info-title info-text">Feedback</h1>
            <h3 class="system-info-state">{{infoText}}</h3>
        </div>
    </div>
</div>