.fliptop-content {
    display: flex;
    justify-content: center;
    text-align: center;
    height: calc(100% - var(--largeSpacing));
    width: 100%;
    margin-bottom: var(--largeSpacing);
}

.stable-area{
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
}

.fliptops-svg {
    max-width: 100%;
    height: auto;
    width: 100%;
}

$iconDivHeight: 6%;   
$iconDivWidth: 4%;   
.ft-icon-area {
    height: $iconDivHeight;
    width: $iconDivWidth;
    color: limegreen;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left-icon {
    top: 8%;
    left: 4%;
}

.top-right-icon {
    top: 8%;
    left: 77%;
}

.bottom-right-icon {
    top: 84.5%;
    left: 77%;
}


$textDivHeight: 21%;   
$textDivWidth: 20%;  
.ft-text-area {
    height: $textDivHeight;
    width: $textDivWidth;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--mediumSpacing);
}

.ft-text-area h4 {
    margin: 0;
}

.top-left-text {
    top: 17%;
    left: 3.2%;
}

.top-right-text {
    top: 17%;
    left: 75.9%;
}


.bottom-right-text {
    top: 61%;
    left: 75.9%;
}

.retract-button {
    height: 25%;
    width: 50%;
    background-image: linear-gradient(
		to right,
		rgba(119, 160, 211, 0.1) 0%,
		rgba(119, 160, 211, 0.2) 51%,
		rgba(119, 160, 211, 0.4) 100%
	);
	border-radius: var(--standardBorderRadius);
}