<div class="theme-select">
    <div class="circle-button proav-button proav-pulse-button" (click)="toggleThemeWheel()">
        <i class="fa-regular fa-palette"></i>
    </div>
    <div class="theme-bar" [ngStyle]="{'display': themeWheelVisible ? 'flex' : 'none'}">
        <div class="default-theme theme-button proav-button" (click)="selectTheme('default')"></div>
        <div class="light-theme theme-button proav-button" (click)="selectTheme('light')"></div>
        <div class="pink-theme theme-button proav-button" (click)="selectTheme('pink')"></div>
        <div class="glass-theme theme-button proav-button" (click)="selectTheme('glass')"></div>
    </div>
</div>
