<div class="air-media-content"> 
    <div class="top-area">
        <h2 class="setup-info">To use the AirMedia presentation device first plug in the dongle shown below and follow the instructions once prompted</h2>
    </div>
    <div class="bottom-area">
        <div class="first-tercile">  
            <div class="user-info-text"><h4>Users#:&nbsp;</h4><div id="ap-user-area">00</div></div>
            <div class="button box-button pulse-button" id="ap-disconnect-users">
                <h4>Disconnect All Users</h4>                    
                <i class="fa-regular fa-ban" style="padding: 0; font-size: 40px;"></i>
            </div>
        </div>
        <div class="second-tercile">
            <img class="air-media-img" src="assets/img/AM-TX3-100.png" alt="Air Media image of Crestron AM-TX3-100">    
        </div>
        <div class="third-tercile">
            <h4>Connection Address</h4>
            <p id="ap-address-area">0.0.0.0</p>
            <h4>Login Code</h4>
            <p id="ap-code-area">0000</p>  
        </div>
    </div>
</div>