<div class="surface-content-grid">
    <!-- Air Media Info Text -->
    <h2 class="content-title info-text">To use the AirMedia presentation device first plug in the dongle shown below and follow the instructions once prompted</h2>
    <!-- Air Media User Count -->
    <h3 class="content-title users-title">Users#:</h3>
    <div class="users-info">{{userCount}}</div>
    <!-- Air Media Image -->
    <img class="air-media-img" src="assets/img/AM-TX3-100.png" alt="Air Media image of Crestron AM-TX3-100">  
    <!-- Disconnect Users -->
    <div class="button box-button pulse-button" (click)="disconnectAllUsers()">
        <h3>Disconnect All Users</h3>                    
        <i class="fa-regular fa-ban"></i>
    </div>
    <!-- Ip Address Info -->
    <h3 class="content-title address-title">Connection Address</h3>
    <div class="address-info">{{ipAddress}}</div>
    <!-- Air Media Access Code -->
    <h3 class="content-title code-title">Login Code</h3>
    <div class="code-info">{{accessCode}}</div>  
</div>