<div class="header-bar">
    <div class="column left-column">
        <div class="text-info">
            <div class="row">
                <h1 class="time-text primary-header"> {{ currentDateTime | date: 'h:mm a' }}</h1>                
            </div>
            <div class="row">
                <h2 class="date-text primary-header">{{ currentDateTime | date: 'EEEE d MMMM yy' }}</h2>
            </div>
        </div>
    </div>
    <div class="column logo-column">
        <img class="logo" src="assets/img/ch5-logo-white.svg" alt="Logo">
    </div>

    <div class="column right-column">
        <div class="ui-info-menu button pulse-button" (click)="uiInfoMenuPressed($event)">
            <i class="fa-regular fa-bars"></i>
        </div>
        <div class="text-info">
            <div class="row">              
                <h1 class="roomname-text primary-header">Meeting Room</h1>
            </div>
            <div class="row">
                <h2 class="mode-text primary-header">MTR Flex Mode</h2>
            </div>
        </div>
    </div>
</div>

<app-ui-info-overlay [style.display]="uiInfoMenuActive ? 'block' : 'none'"></app-ui-info-overlay>