.ui-info-overlay {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: var(--overlayBlur);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-info-menu {
    height: 60%;
    width: 60%;
    background-color: var(--surfaceColour);
    border-radius: var(--standardBorderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-nav-bar {
    padding: var(--largeSpacing) 0;
    flex:1;
    border-right: 1px solid var(--onSurfaceColour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.right-content-area {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-option {
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--onSurfaceColour);
}