<div class="main-region">
    <div class="header-area">

    </div>
    <div class="content-area">
        <app-home-page *ngIf="pageToShow=== 'home'"></app-home-page>
        <app-devices-grid-page *ngIf="pageToShow=== 'devices'"></app-devices-grid-page>
        <app-device-page *ngIf="pageToShow=== 'test-device'"></app-device-page>
        <!-- <app-home-page></app-home-page>
        <app-device-page></app-device-page> -->
    </div>
    <div class="footer-area">
        <app-theme-selector></app-theme-selector>
    </div>
</div>
<!-- <app-content-grid></app-content-grid> -->
<!-- <app-disconnect-overlay></app-disconnect-overlay> -->
<!-- <app-dynamic-module-flex></app-dynamic-module-flex> -->