<div class="nav-bar-space">
    <div class="nav-bar" [ngClass]="{'expanded': isNavBarExpanded}">
        <div class="nav-bar-control">
            <div class="nav-bar-button proav-button proav-pulse-button" (click)="toggleNavBar()">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </div>
        </div>

        <div class="page-control">
            <div *ngIf="initialConfigData">
                <div *ngFor="let pageinfo of initialConfigData.pages" class="page-nav nav-option proav-menu-option">
                <h3 class="page-text" [id]="pageinfo.pagename">{{ pageinfo.pagename }}</h3>
                <i [class]="pageinfo.pageicon"></i>
                </div>
            </div>
        </div>

        <div class="side-control">          
            <div class="page-nav nav-option proav-menu-option">
                <h3 class="page-text">Settings</h3>
                <i class="fa-solid fa-cog"></i>
            </div>  
            <div class="nav-option conn-stat">
                <h4 class="page-text">Connection Status</h4>
                <i [ngClass]="{'fa-spin': isSpinning}" [class]="currentIcon" class="custom-icon"></i>
            </div>    
        </div>
    </div>
</div>