<div class="nav-bar" [ngClass]="{'expanded': isNavBarExpanded}">
    <div class="nav-bar-region-1">
        <div class="nav-bar-button proav-button" (click)="toggleNavBar()">
            <i class="fa-solid fa-bars fa-2xl"></i>
        </div>
    </div>

    <div class="page-display-area">
        <div class="page-nav proav-menu-option">
            <i class="fa-regular fa-burger-soda fa-lg"></i>
            <div class="page-text">Page 1</div>
        </div>
        <div class="page-nav proav-menu-option">
            <i class="fa-regular fa-burger-soda fa-lg"></i>
            <div class="page-text">Page 2</div>
        </div>
        <div class="page-nav proav-menu-option">
            <i class="fa-regular fa-burger-soda fa-lg"></i>
            <div class="page-text">Page 3</div>
        </div>
        <div class="page-nav proav-menu-option">
            <i class="fa-regular fa-burger-soda fa-lg"></i>
            <div class="page-text">Page 4</div>
        </div>
    </div>
</div>