.nav-bar-space {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.nav-bar {
	height: 90%;
	width: 5vw;
	min-width: 60px;
	background-color: var(--primaryColour);
	z-index: 10;
	box-shadow: var(--onBackgroundShadow);
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 100%;
	justify-content: flex-start;
	border-radius: 50px;
	margin-left: 20px;
    overflow: hidden;
	transition: width 0.3s;
}

.nav-bar-control {
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	//transition: justify-content 0.3s;
}

.page-control {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.side-control {
	justify-self: flex-end;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-bar-button {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	//transition: width 0.3s;
	//margin: 20px;
}

.expanded .nav-bar-button {
    margin-right: 10px;
}

.expanded {
	width: 15vw;
	min-width: 160px;
}

.expanded .nav-bar-control {
	justify-content: flex-end;
}

.expanded .page-text {
	display: block;
}

.expanded .page-nav {
	justify-content: space-between;
	padding: 0 20px;
	width: calc(100% - 2*20px);
}

.page-text {
	display: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.conn-stat {
	margin-left: 10px;
}

.page-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-option {
	height: 60px;
	width: 100%;
	color: var(--onPrimaryColour);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
