<div class="surface-collection">
    <div class="surface" *ngFor="let surface of surfaces" 
    (click)="toggleExpansion(surface)"
    [class.expanded]="expandedSurface === surface">
        <div class="surface-card">
                <!-- Ng For With templates below? -->                
                <div *ngIf="surface.id === SurfaceType.Home; then homeSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Settings; then settingsSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Lighting; then lightingSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Shade; then shadeSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Source; then sourceSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Camera; then cameraSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Matrix; then matrixSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Power; then powerSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.AirMedia; then airMediaSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.FlipTops; then flipTopSurfaceBlock"></div>
                <div *ngIf="surface.id === SurfaceType.Display; then displaySurfaceBlock"></div>			
                <div *ngIf="surface.id === SurfaceType.HDMI; then hdmiSurfaceBlock"></div>			
        </div>
        <div class="experiment">
            <div class="surface-icon">
                <i [class]="surface.icon"></i>
            </div>
        </div>
    </div>
</div>

<!-- Need to refactor this to use an abstract component/factory in future editions -->
<ng-template #homeSurfaceBlock>

</ng-template>
<ng-template #settingsSurfaceBlock>

</ng-template>
<ng-template #lightingSurfaceBlock>
    <app-lighting-surface></app-lighting-surface>
</ng-template>
<ng-template #shadeSurfaceBlock>
    <app-shades-surface></app-shades-surface>
</ng-template>
<ng-template #sourceSurfaceBlock>
    <app-source-surface></app-source-surface>
</ng-template>
<ng-template #cameraSurfaceBlock>
    <app-camera-surface></app-camera-surface>
</ng-template>
<ng-template #matrixSurfaceBlock>
    <app-matrix-surface></app-matrix-surface>
</ng-template>
<ng-template #powerSurfaceBlock>

</ng-template>
<ng-template #airMediaSurfaceBlock>
    <app-air-media-surface></app-air-media-surface>
</ng-template>
<ng-template #flipTopSurfaceBlock>
    <div class="content-area">
        <app-flip-top-surface class="flip-top-special"></app-flip-top-surface>    
    </div>
</ng-template>
<ng-template #displaySurfaceBlock>

</ng-template>
<ng-template #hdmiSurfaceBlock>
    <app-hdmi-surface></app-hdmi-surface>
</ng-template>