<div class="source-content">
    <div class="box-button button source-button pulse-button" id="hdmi-media:1" (click)="hdmiPressed()">
        <h2 class="source-button-text unclickable">HDMI</h2>
        <div class="source-button-icon unclickable">
          <i class="fa-kit fa-hdmi" style="padding: 0; font-size: 50px;"></i>
        </div>
      </div>
    
      <div class="box-button button source-button pulse-button" id="air-media:2" (click)="airMediaPressed()">
        <h2 class="source-button-text unclickable">Air Media</h2>
        <div class="source-button-icon unclickable">
          <i class="fa-regular fa-airplay" style="padding: 0; font-size: 40px;"></i>
        </div>
      </div>
</div>