<div class="source-content">
    <div class="box-button button source-button" id="hdmi-media:1"  
        (mousedown)="startPulse('hdmi', $event)" 
        (mouseup)="triggerButton('hdmi', $event)"
        (touchstart)="startPulse('hdmi', $event)" 
        (touchend)="triggerButton('hdmi', $event)"
    >
      <!-- <span style="--i:0;"></span>
      <span style="--i:1;"></span>
      <span style="--i:2;"></span>
      <span style="--i:3;"></span> -->
        <h2 class="source-button-text unclickable">HDMI</h2>
        <div class="source-button-icon unclickable">
          <i class="fa-kit fa-hdmi" style="padding: 0; font-size: 50px;"></i>
        </div>
      </div>
    
      <div class="box-button button source-button" id="air-media:2" 
          (mousedown)="startPulse('air-media', $event)" 
          (mouseup)="triggerButton('air-media', $event)"
          (touchstart)="startPulse('air-media', $event)" 
          (touchend)="triggerButton('air-media', $event)"
      >
        <!-- <span style="--i:0;"></span>
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span> -->
        <h2 class="source-button-text unclickable">Air Media</h2>
        <div class="source-button-icon unclickable">
          <i class="fa-regular fa-airplay" style="padding: 0; font-size: 40px;"></i>
        </div>
      </div>
</div>