.source-content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--largeSpacing);
}

.source-button {
	padding: var(--mediumSpacing);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: linear-gradient(
		to right,
		rgba(119, 160, 211, 0.1) 0%,
		rgba(119, 160, 211, 0.2) 51%,
		rgba(119, 160, 211, 0.4) 100%
	);
	border-radius: var(--standardBorderRadius);
	position: relative;
}

.source-button-icon {
	display: flex;
	align-items: end;
}
.source-button-icon i {
	padding: var(--smallSpacing);
}

.source-button:active {
	animation: pulse 0.5s infinite ease-out;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0 0 var(--primaryVariant);
	}
	to {
		box-shadow: 0 0 0 var(--mediumSpacing) transparent;
	}
}