<div class="surface-content-grid">
    <div class="box-button button pulse-button hdmi-button" (click)="hdmiPressed()">
        <h2 class="text unclickable">HDMI</h2>
        <div class="icon unclickable">
          <i class="fa-kit fa-hdmi-cable" style="padding: 0; font-size: 50px; font-weight: bold;"></i>
        </div>
      </div>
    
      <div class="box-button button pulse-button air-media-button" (click)="airMediaPressed()">
        <h2 class="text unclickable">Air Media</h2>
        <div class="icon unclickable">
          <i class="fa-regular fa-screencast" style="padding: 0; font-size: 50px;"></i> 
        </div>
      </div>
</div>