<div class="surface-content-grid">
    <!-- Sliders Area -->
    <div class="shade-sliders-grid">
        <ng-container *ngFor="let slider of sliders; let idx = index">
            <proAV-shade-slider
              [initialValue]="slider.value"
              [style.grid-row]="'1/ span 1'"
              [style.grid-column]="getGridColumnSlider(idx)"
              [joinId]="shadeSlidersUpdate"
              [elementId]="slider.id.toString()"
            ></proAV-shade-slider>
          </ng-container>
    </div>
    <!-- Presets Area -->
    <div class="content-title preset-title">
        <h2>Presets</h2>
    </div>
    <div class="presets-grid">
        <ng-container *ngFor="let preset of presets; let idx = index">
            <div class="preset-button button pulse-button"
              [style.grid-row]="getGridRowPreset(idx)"
              [style.grid-column]="'1/ span 5'"
              (click)="presetTriggered(preset.id)"
            ><div>{{preset.label}}</div></div>
        </ng-container>
    </div>
    <!-- Box Controls -->
    <div class="box-button button pulse-button open-button" (click)="allOpen()">
        <div class="text unclickable">All Open</div>
        <div class="icon unclickable">
            <i class="fa-regular fa-blinds-raised"></i>
        </div>
    </div>
    <div class="box-button button pulse-button close-button" (click)="allClose()">
        <div class="text unclickable">All Close</div>
        <div class="icon unclickable">
            <i class="fa-regular fa-blinds"></i>
        </div>
    </div>
    <div class="box-button button pulse-button create-preset-button" (click)="createPreset()">
        <div class="text unclickable">Create Preset</div>
        <div class="icon unclickable">
            <i class="fa-regular fa-plus"></i>
        </div>
    </div>
</div>