html,
body {
	overflow-x: hidden;
	overscroll-behavior: none; /* Stop annoying iphone browser elastic nonsense */
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url('assets/img/crestron-blur.png');
	background-color: var(--backgroundColour);
	color: var(--onPrimaryColour); /* Use a colon (:) instead of parentheses () */
	font-family: var(--themeFont);
    -webkit-tap-highlight-color: transparent; /* This may cause other issues - Removes Blue highlight on focus in chrome */
	user-select: none; /* Stop highlighted text */
}

/*
  Custom Styling - Default Glass Theme
*/
.default-theme {
	--primaryColour: #c7d9e756;
	--onPrimaryColour: #ffffff;

	--backgroundBlur: blur(40px);
	--surfaceBlur: blur(40px);
	--overlayBlur: blur(40px);

	--primaryVariant: #23a2dd;
	--onPrimaryVariant: #ffffff;

	--secondaryColour: #353b48;
	--onSecondaryColour: #fafaff;

	--secondaryVariant: #1f6764;
	--onSecondaryVariantColour: #ffffff;

	--backgroundColour: rgba(0,0,0,0.2);
	--surfaceColour: #4b657956;
	--raisedSurfaceColour: #FAFAFF;

	--onBackgroundColour: #fafaff;
	--onSurfaceColour: #FFFFFF;
	--onRaisedSurfaceColour: #000000;

	--errorColour: #ff2200;
	--onErrorColour: #000000;
	--successColour: #1bdf5c;

	--standardBorderRadius: 5px;
	--smallSpacing: 5px;
	--mediumSpacing: 10px;
	--largeSpacing: 20px;

	--onBackgroundShadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -2px -1px 4px rgba(255, 255, 255, 0.1);
	--onSurfaceShadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 4px rgba(255, 255, 255, 0.2);
	--onSurfacePressedShadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.2);
	--onForegroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
	--onSurfaceInsetShadow: inset 4px 3px 10px rgba(0, 0, 0, 0.5);

	--themeFont: roboto;

	background-size: cover;
	background-position: center;

	--elevatedSurfaceColour: darken(var(--surfaceColour, 5%));

	--iconPressSize: 44px;
	--activeOpacity: 0.6;
}

.button:active {
	opacity: var(--activeOpacity);
}

.box-button {
	height: 200px;
	width: 200px;
	//border: solid 1px white;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// position: relative;
	// border-radius: var(--standardBorderRadius);
}