html,
body {
	overflow-x: hidden;
	overscroll-behavior: none; /* Stop annoying iphone browser elastic nonsense */
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: var(--backgroundColour);
	color: var(--onPrimaryColour); /* Use a colon (:) instead of parentheses () */
	font-family: var(--themeFont);
	-webkit-tap-highlight-color: transparent; /* This may cause other issues - Removes Blue highlight on focus in chrome */
	user-select: none; /* Stop highlighted text */
}

/*
  Custom Styling - Default Glass Theme
*/
.default-theme {
	--primaryColour: #c7d9e756;
	--onPrimaryColour: #ffffff;

	--backgroundBlur: blur(40px);
	--surfaceBlur: blur(40px);
	--overlayBlur: blur(40px);

	--primaryVariant: #23a2dd;
	--onPrimaryVariant: #ffffff;

	--secondaryColour: #353b48;
	--onSecondaryColour: #fafaff;

	--secondaryVariant: #1f6764;
	--onSecondaryVariantColour: #ffffff;

	--backgroundColour: rgba(0, 0, 0, 0.2);
	--surfaceColour: #4b657956;
	--raisedSurfaceColour: #fafaff;
	--onRaisedSurfaceColour: #000000;

	--onBackgroundColour: #fafaff;
	--onSurfaceColour: #ffffff;

	--errorColour: #ff2200;
	--onErrorColour: #000000;
	--successColour: #1bdf5c;

	--standardBorderRadius: 5px;
	--standardButtonHeight: 50px;
	--smallSpacing: 5px;
	--mediumSpacing: 10px;
	--largeSpacing: 20px;

	--onBackgroundShadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -2px -1px 4px rgba(255, 255, 255, 0.1);
	//--overlayShadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -2px -1px 4px rgba(0, 0, 0, 0.5);
	//--onSurfaceShadow: 1px 1px 4px rgba(0, 0, 0, 0.2), -1px -1px 4px #4b657956;
	--onSurfacePressedShadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.2);
	--onForegroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
	--onSurfaceInsetShadow: inset 4px 3px 10px rgba(0, 0, 0, 0.5);

	--themeFont: roboto;

	background-size: cover;
	background-position: center;

	--elevatedSurfaceColour: darken(var(--surfaceColour, 5%));

	--standardIconSize: 28px;
	--iconPressSize: 44px;
	--activeOpacity: 0.6;
	background-image: url('assets/img/crestron-blur.png');

	--buttonGradient: linear-gradient(
		to right,
		rgba(119, 160, 211, 0.1) 0%,
		rgba(119, 160, 211, 0.2) 51%,
		rgba(119, 160, 211, 0.4) 100%
	);
}

/*
  Custom Styling - Light Theme
*/
.dark-theme {
	--primaryColour: #353b48;
	--onPrimaryColour: #fafaff;

	--primaryVariant: #17bebb;
	--onPrimaryVariant: #ffffff;

	--secondaryColour: #fafaff;
	--onSecondaryColour: #000000;

	--secondaryVariant: #5fb49c;
	--onSecondaryVariantColour: #ffffff;

	--backgroundColour: #333333;
	--surfaceColour: #444c59;
	--elevatedSurfaceColour: darken(#111111, 5%);
	//--backgroundAmbientLight: lighten(#333, 10%);

	--backgroundBlur: blur(40px);
	--surfaceBlur: blur(40px);
	--overlayBlur: blur(40px);

	--onBackgroundColour: #ffffff;
	--onSurfaceColour: #ffffff;
	--raisedSurfaceColour: #fafaff;
	--onRaisedSurfaceColour: #000000;

	--errorColour: #ff2200;
	--onErrorColour: #000000;
	--successColour: #1bdf5c;

	--onBackgroundShadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -2px -1px 15px rgba(255, 255, 255, 0.1);
	--onSurfaceShadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 4px rgba(255, 255, 255, 0.2);
	--onSurfacePressedShadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.2);
	--onForegroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
	--onSurfaceInsetShadow: inset 4px 3px 10px rgba(0, 0, 0, 0.5);

	--moduleHeightUnit: 100px;
	--moduleGridGap: 20px;
	--moduleInnerPadding: 10px;

	--standardBorderRadius: 5px;
	--standardButtonHeight: 50px;
	--smallSpacing: 5px;
	--mediumSpacing: 10px;
	--largeSpacing: 20px;

	--themeFont: system-ui;

	--standardIconSize: 28px;
	--iconPressSize: 44px;
	--activeOpacity: 0.6;

	--buttonGradient: linear-gradient(
		to right,
		rgba(119, 160, 211, 0.1) 0%,
		rgba(119, 160, 211, 0.2) 51%,
		rgba(80, 90, 100, 0.4) 100%
	);
}

/*
  Custom Styling - Light Theme
*/
.light-theme {
	--primaryColour: #faffff;
	--onPrimaryColour: #000000;

	--primaryVariant: #ff2200;
	--onPrimaryVariant: #ffffff;

	--secondaryColour: #353b48;
	--onSecondaryColour: #fafaff;

	--secondaryVariant: #1bdf5c;
	--onSecondaryVariantColour: #ffffff;

	--backgroundColour: #fafaff;
	--surfaceColour: #ffffff;

	--onBackgroundColour: #000000;
	--onSurfaceColour: #000000;
	--raisedSurfaceColour: #fafaff;
	--onRaisedSurfaceColour: #000000;

	--backgroundBlur: blur(40px);
	--surfaceBlur: blur(40px);
	--overlayBlur: blur(40px);

	--errorColour: #ff2200;
	--onErrorColour: #000000;
	--successColour: #1bdf5c;

	--standardBorderRadius: 5px;
	--standardButtonHeight: 52px;
	--smallSpacing: 5px;
	--mediumSpacing: 10px;
	--largeSpacing: 20px;

	--onBackgroundShadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -2px -1px 15px rgba(255, 255, 255, 0.1);
	--onSurfaceShadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 4px rgba(255, 255, 255, 0.2);
	--onSurfacePressedShadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.2);
	--onForegroundShadow: 7px 5px 10px rgba(0, 0, 0, 0.5);
	--onSurfaceInsetShadow: inset 4px 3px 10px rgba(0, 0, 0, 0.5);

	--themeFont: monospace;

	--iconPressSize: 44px;
	--activeOpacity: 0.6;

	--buttonGradient: linear-gradient(
		to right,
		rgba(119, 160, 211, 0.1) 0%,
		rgba(119, 160, 211, 0.2) 51%,
		rgba(200, 200, 200, 0.4) 100%
	);
}

.error-text {
	color: var(--errorColour);
}

.button:active {
	opacity: var(--activeOpacity);
}

i {
	/* This is a fix for icons but maybe should use light and not regular */
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.pulse-button:active {
	animation: pulse 0.5s infinite ease-out;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0 0 var(--primaryVariant);
	}
	to {
		box-shadow: 0 0 0 var(--mediumSpacing) transparent;
	}
}

.button {
	box-shadow: var(--onSurfaceShadow);

	i {
		font-size: var(--standardIconSize);
	}
}

.box-button {
	padding: var(--mediumSpacing);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: var(--buttonGradient);
	border-radius: var(--standardBorderRadius);
	position: relative;
	text-align: center;
}

.box-button h3 {
	margin: 0;
}

.box-button .icon {
	display: flex;
	align-items: flex-end;
}
.box-button .icon i {
	padding: var(--smallSpacing);
}

.surface-content-grid {
	display: grid;
	height: 100%;
	gap: 16px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.presets-grid {
	padding: 0 var(--mediumSpacing);
	display: grid;
	//height: 300px;
	gap: var(--mediumSpacing);
	grid-template-columns: repeat(5, 1fr);
	//grid-template-rows: repeat(auto-fill, minmax(var(--standardButtonHeight), auto));
	overflow-x: visible;
	overflow-y: scroll;
}

.preset-button {
	width: 100%;
	height: var(--standardButtonHeight);
	min-height: var(--standardButtonHeight);
	border-radius: var(--standardBorderRadius);
	background-image: var(--buttonGradient);
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-title {
	display: flex;
	align-items: flex-end;
}

.content-title h2 {
	margin: 0;
}
