<div class="ui-tile pressable-surface">
    <div *ngIf="DeviceInfo">
        <div class="tile-content" (click)="tilePress(DeviceInfo.deviceid)">
            <div class="device-icons">
                <i [class]="DeviceInfo.deviceicon" class="device-icon"></i>
                <i class="device-icon fa-solid fa-ellipsis"></i>
            </div>
            <div class="device-info">
                <h1>{{DeviceInfo.devicelabel}}</h1>
                <h4 class="device-label">{{DeviceInfo.devicesecondarylabel}}</h4>
            </div>
        </div>
    </div>
</div>