<div class="connection-state-overlay" [style.display]="isOverlayVisible ? 'flex' : 'none'">
    <div class="icon-area">
        <i [ngClass]="{'fa-spin': isSpinning}" [class]="currentIcon" class="custom-icon"></i>
    </div>
    <div class="system-info">
        <h1 class="connection-state-title info-title">System</h1>
        <h3 class="connection-state-info">{{connectionState}}</h3>
        <h1 *ngIf="infoText" class="feedback-title info-title">Feedback</h1>
        <h3 *ngIf="infoText" class="feedback-message">{{infoText}}</h3>
    </div>
</div>